:root{
    --dark-bg:#28293E;
    --brown-bg:#FDF0E9;
    --orange: #EF6D58;
    --Text-dark:#391400;
    --p-gray: #391400A3;
    --text-light:#FFFFFF;
    --light-gray:#FFFFFFA3;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Epilogue',sans-serif;
}

.h2White{
    color:#ffffff;
    font-weight: 800;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -1px;

}

.h3White{
    color:#FFFFFF;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0px;
    margin-top:18px;
}

.h3{

    font-weight: 800;
    font-size: 40px;
    letter-spacing: 0px;
    line-height: 1.2;
    color:var(--Text-dark);

}

.h4{
    color:var(--Text-dark);
    font-weight: 700;
    font-size: 24px;
    line-height:32px;

   

}

.h1{
    color:var(--Text-dark);
    font-weight: 800;
    font-size: 72px;


}

/* buttons */

.btnwhite{
    background: var(--light-gray);
     width: 11vw;
    height: 48px;
    border-radius: 6px;
    text-decoration: none;
    color:var(--Text-dark);
    padding:15px 3px;
    border: none;
    font-weight: 900;
    font-size: 14px;
    text-align: center;
    padding: 16px;
    box-shadow:0px 8px 9px #39140014;
}




.btnorange{
    background-color:var(--orange);
    color:var(--text-light);
    width: 154px;
    height: 48px;
    border-radius: 6px;
    text-decoration: none;
    border:none;
    color:var(--text-light);
    padding:15px 3px;
    font-weight: 900;
    font-size: 14px;
    text-align: center;
}

/*  NavBar */
nav{
    left:0;
    margin: 0;
    width:100%;
    height: 78px;
    justify-content: space-between;
    display:flex;
    padding: 2vh 9.7vw;
    background: var(--dark-bg);
    position: fixed;
    top:0;
    z-index: 10000000;
}

.menu{
    display:none;
}

nav ul{
    z-index: 1000;
    list-style: none;
    display: flex;
    align-items: center;
    gap:50px;
}
 nav ul li a{
    text-decoration: none;
    color:var(--text-light);
    font-size:16px;
    font-weight: 400;
 }

 .btn.nav{
    border:2px solid var(--text-light);
    background: transparent;
    font-style: normal;
    color:var(--text-light);
    width:10vw;
    height: 7vh;
    font-weight: 900;
    font-size:1vw;
    line-height: 3.2vh;
    border-radius:6px;
    padding:3px 4px;
    cursor: pointer;
}

/* reponsive nav */


    

/* header */
header{
    background: var(--dark-bg);
    width:100%;
    height: 101vh;
    padding: 125px 0;
    position: relative;
}

.wrapperDark{
    width:80%;
    height:100%;
    margin:0 auto;
    position: relative;

}

.header-content{
    width:100%;
    height:100%;
    position:relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

.left{
    width:50%;
    height: 100vh;
    
}

.h5{
font-weight: 400;
font-size: 16px;
line-height: 32px;
letter-spacing: 3px;
text-transform: uppercase;
color: var(--orange);
}

.left h1{
    font-weight: 800;
    font-size: 72px;
    line-height: 80px;
    letter-spacing: -2px;
    color:#FFFFFF;
    width:531px;
    height:240px;
    z-index: 100;
}

.left p{
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0px;
    margin-top: -3vh;
    width:470px;
    height:66px;
    color:var(--light-gray);

}
.wrapper-left{
    position: relative;
}
 
.star-help {
    position: absolute;
    width: 148px;
    height: 148px;
    top: 12%;
    left: 47%;
    z-index: 1; 
}

.left h1 {
    position: relative;
    z-index: 2;
}

/* right header section */

.right{
    width:50%;
    height: auto;
    display: flex;
    justify-content: end;
    position: relative;
}

.right img{
   width: 95%;
    height: 535px;

}

.btnwork{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:50%;
}

.plane{
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0px;
    color: #FFFFFF;

}

.bitmapHeader{
    display: flex;
    gap:2vw;
    align-items: center;
    justify-content: space-between;
    margin-top:-53vh;
}


.bitmapHeader div p{
font-weight: 400;
font-size: 16px;
line-height: 0.5;
color: var(--light-gray);
}

.meta{
    color:#ffffff;
    padding-left:5px;
}

/* middle section */

.middle{
    margin: 0;
    background: var(--brown-bg);
    width:100%;
    height: 333vh;
    /* margin-top: -15px; */
    position: relative;
}

.wrapperLight{
    width:80%;
    margin:0 auto;
    position:relative;
    padding-top:17px;
}

.barlogos{
    padding: 0;
    list-style:none;
    width:100%;
    display: flex;
    gap:13px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width:100%;
    height: 20vh;
    border-bottom: 1px solid #F3D1BF;
}

/* middle section bar Ended */

.section-Content{
    width:100%;
    display: flex;
    position: relative;
    justify-content: space-between;
    gap:8vw;
    padding-top:15vh;
    margin-bottom:20vh;
}

.left-middle-content{
    width:50%;
    position: relative;
}

.left-middle-content img{
    width: 566px;
    height: 585px;


}

/*Left container ended */

.right-middle-content{
    width:50%;
    padding-top:8vh;
}

.right-middle-content h2{
    font-weight: 800;
    font-size: 56px;
    letter-spacing: -1px;
    margin-top:-12px;
    color:var(--Text-dark);
    
}

.rmcp{
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0px;
    margin-top:-21px;
    color:var(--Text-dark);

}

.rmcp1{
    color:var(--p-gray);
    font-weight: 400;
    font-size: 16px;
    margin-bottom:40px;
    line-height:32px;

}

/* middle section ended part-1 */

.rectangle{
    width:100%;
    height: auto;
    position:relative;
    display:flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: space-around;
    align-items: center;
    border:1px solid #F3D1BF;
    margin-bottom: 8vw;
}

.rec1{
    width:33.33%;
    padding-left:5vw;
    border-right:1px solid #F3D1BF;
}

.rec1 p{
    font-weight: 400;
    font-size: 20px;
    color:var(--p-gray);
    margin-top: -24px;


}

.rec2{
    width:33.33%;
    padding-left:5vw;
    border-right:1px solid #F3D1BF;
    
}

.rec2 p{
    font-weight: 400;
    font-size: 20px;
    color:var(--p-gray);
    margin-top: -24px;


}

.rec3{
    width:33.33%;
    padding-left:5vw;
    border-right:1px solid #F3D1BF;
    
}

.rec3 p{
    font-weight: 400;
    font-size: 20px;
    color:var(--p-gray);
    margin-top: -24px;


}

/* End of Section content part-2 */

.work-Section{
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom:1px solid  #F3D1BF;
    height:80vh;
}

.leftWork{
    width:40%;
}

.leftWork p{
    color:var(--p-gray);
    font-weight: 400;
    font-size: 16px;
    line-height:32px;


}

.leftWork a{
    color:var(--p-gray);
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;


}

.rightWork{
    width:50%;
    position: relative;
}

.list-item{
    display:flex;
    align-items:center;
    gap:9vw;
}

/* work section ended here */


.reel-section{
    width:100%;
    display:flex;
    justify-content:space-between;
    gap:8vw;
    position:relative;
    padding-top:18vh;

}

.reel{
    position:relative;
    z-index: 2;
}

.play{
    position:absolute;
    top: 25%;
    left: 36%;
}

.time{
    position:absolute;
    bottom: 15px;
    left: 24px
}

.reel-right p{
    font-weight: 400;
    font-size: 16px;
    color:var(--p-gray);
    line-height:32px;

}

/* portfolio  */

.circleWhite{

    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0px;
    color: #391400;
    text-decoration:none;
    line-height: 0;
    width: 84px;
    height: 38px;
    background:#ffffff;
     border-radius:19px;
     border:none;


}

.wrapperDark2{
    background:var(--dark-bg);
    width:100%;
    height:380vh;
    padding-top:5vw;
    
}

.portfolio{
    width:80%;
    margin:0 auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom:30vh;
    

}

.portfolio-content{
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;

}


.tabs{
    margin-top: -7vh;
    display:flex;
    justify-content: center;
    align-items:center;

}

.tabs li{
    list-style: none;
}

.tabs li a{
    text-decoration:none;
    color:var(--light-gray);
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0px;

}

.product{
    width:100%;
    padding-top:6vh;
    position: relative;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:20px;
    margin-bottom: 8vw;
}

.design{
   width:40%;
   height:56vh;
    border-radius:6px;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left:3vw;

}

.design{
    background-image:url('./images/design.png');
    background-repeat: no-repeat;
    background-position: center;

} 


.Branding{
    width:58.2%;
    height:56vh;
    border-radius:6px;
     border-radius:6px;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left:3vw;
    
}

.Branding{
    background-image:url('./images/branding.png');
    background-repeat: no-repeat;
    background-position: center;

} 


.illustration{
    width:58.2%;
    height:56vh;
    border-radius:6px;
     border-radius:6px;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left:3vw;

}

.illustration{
    background-image:url('./images/iullstration.png');
    background-repeat: no-repeat;
    background-position: center;

} 

.motion{
    width: 40%;
    height: 56vh;
    border-radius:6px;
     border-radius:6px;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left:3vw;

}

.motion{
    background-image:url('./images/motion.png');
    background-repeat: no-repeat;
    background-position: center;
}

.explorebtn{
    width: 170px;
    height: 48px;
    background:tarnsparent;
    border-radius:6px;
    border:3px solid #ffffff;
    padding-top:13px;
    padding-left:29px;
    cursor:pointer;


}

.explorebtn a{
    text-decoration:none;
    color:#FFFFFF;
    font-weight: 900;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0px;

}

 /*                       Portfolio Ended here                                     */

.section-gift{
    width:80%;
    margin:0 auto;
    position:relative;
}

.orangeb{
    width: 154px;
    height: 48px;
    border-radius: 6px;
    color:#FFFFFF;
    border:none;
    text-decoration: none;
    background:var(--orange);
    font-weight: 900;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0px;



}

.companies{
    width:100%;
    height:336px;
    border-radius:6px;
    background:var(--brown-bg);
    display:flex;
    gap:0;
    position: relative;
    padding:0 4vw;
    margin-bottom: 12vh;
    justify-content: space-around;

}

.gift-icon{
    position:absolute;
    width:148px;
    height:148px;
    top: -10vh;
    left: 8vw;
}

.giftContent{
   padding: 5vw 3vw;

}

.giftContent h4{
    align-self: center;
}

.cloud{
    width:282px;
    background-image:url('./images/cloud1.svg');
    background-repeat: no-repeat;
    background-position:center;
    
}

.blocks{
    width: 338px;
    height: 192px;
    align-self: center;

}


.women{
    position:absolute;
    bottom: 0;
    right:5vw;

}

/* bussiens women card Ended here */

.team{
    width:100%;
    display:flex;
    flex-direction: column;
    position:relative;
}

.team-heading{
    display:flex;
    margin-top:-2vh;
    justify-content: space-between;
    align-items:center;
}

.arrowbtn{
    width: 112px;
    height: 48px;
    margin-bottom:-12vh;

}
.circlebtn{
    align-self: center;
    margin-top: 24vh;
}

.members{
    display:flex;
    position: relative;
    width:100%;
    justify-content:space-between;
    
}

.card{
    width: 23%;
    height: 272px;
    border-radius: 6px;
    border: 1px solid #3A3C56;
    background-color: transparent;
    position: relative;
    

}

.designer{
    position: relative;
    top:23px;
    left:2.5vw;
    margin-bottom: 2vh;
}

.Developer{
    position: relative;
    top:39px;
    left:0.2vw;
    margin-bottom: 5vh;
}

.Illustrator{
    position: relative;
    top:33px;
    left:2vw;
    margin-bottom: 4vh;

}

.h4White{
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0px;
    color:#FFFFFF;
}

.plight{
    font-weight: 400;
    font-size: 16px;
    line-height: 0px;
    letter-spacing: 0px;
    color:var(--light-gray);

}

.pDesigner{
    position: relative;
    top: 38px;
    left: 1vw;
    margin-bottom:4vh;
}


/* End of team section and whole portfolio section */

/* start of the pricing and cards section */

.wrapperlight2{
    width:100%;
    height:231vh;
    position:relative;
    background:var(--brown-bg);
    padding-top:10vh;
}

.pricing-section{
    width:80%;
    height:100vh;
    position: relative;
    margin:0 auto;


}

.pricing h2{
    font-weight: 800;
    font-size: 56px;
    letter-spacing: -1px;
    color: var(--Text-dark);
}

.pricing-cards{
    width:100%;
    display:flex;
    align-items: flex-end;
    margin-bottom: 20vh;
}

.Popular-card{
    width: 33%;
    height: 560px;
    top: 6347px;
    left: 525px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border: 1px solid #F3D1BF;
    padding: 30px;
    align-self:stretch;
    background:#FFFFFF;
}

.Popular-card ul li{
    list-style: none;
    line-height:2.5;
    margin-left:-41px;
}

.Popular-card li span {
    padding-left: 20px;
}

.Popular-card button{
    background-color: #EF6D58;
    color:#FFFFFF;
}

.Popular-card div{
    width:391px;
    margin:0 auto;
}

.free-card{
    width:33%;
    height:512px;
    position: relative;
    border:1px solid #F3D1BF;
    padding:30px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.free-card ul li{
    list-style: none;
    line-height:2.5;
    margin-left:-41px;
}

.free-card li span{
     padding-left: 20px;
}

.Design-card{
    width:34%;
    height:512px;
    position:relative;
    border:1px solid #F3D1BF;
    padding:30px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.Design-card ul li{
     list-style: none;
    line-height:2.5;
    margin-left:-41px;
}

.Design-card li span{
    padding-left: 20px;
}

.pcards{
    font-weight: 400;
    font-size: 16px;
    color: var(--p-gray);
    text-decoration: none;
    line-height: 32px;
}

.dp{
    font-weight: 400;
    font-size: 16px;
    color:var(--Text-dark);
    line-height: 32px;
    text-decoration: none;
}

/* Pricing cards Ended here */

.FQA{
    width:100%;
    display:flex;
    justify-content: space-between;
    gap:4vw;
}

.FQA-right{
    width:570px;

}

.r-content1{
    width: 570px;
    height: 273px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border: 1px solid #F3D1BF;
    background-color: #FFFFFFFF;
    padding: 27px 42px 22px 40px;

}

.r-content1 div{
    display:flex;
    margin-bottom:-12px;
    justify-content: space-between;

    
}

.r-content1 p{
    width:470px;
}

.r-content2 div{
   
    display:flex;
    justify-content:space-between;
    padding:20px 41px;
    border: 1px solid #F3D1BF;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;

}

.FQA-left{
    width:50%;
    position: relative;
    
}

.FQA-left a{
    
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0px;
    color:var(--p-gray);
    text-decoration:none;

}

.wrapper-map{
    width:100%;
    background-image:url('./images/map2.svg');
    background-repeat:no-repeat;
    background-position:center;
    background-size: cover;
    padding-top:10vh;
    margin-top:-9vh;
    height:112vh;
    position: relative;
}

.map{
    width:80%;
    margin:0 auto;
    padding-top:8vh;
    position:relative;

}

.inner-section{
    width:40%;
    height:78vh;
    background-color:#FFFFFF;
    padding: 20px 40px;
    border-radius:6px;
    position: relative;
}

.input,
.TextArea{
    width:100%;
    height:8vh;
    border-radius: 6px;
    border: 1px solid #F3D1BF;
    background-color: transparent;
    font-family: Epilogue;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 2vh;
    line-height: 32px;
    letter-spacing: 0px;
    padding:5px 20px;
    color:var(--p-gray);

}

#select{
    width:100%;
    height:8vh;
    border-radius:6px;
    border: 1px solid #F3D1BF;
    background-color: transparent;
    font-family: Epilogue;
    font-weight: 400;
    margin-top:20px;
    font-size: 16px;
    padding:5px 20px;
    line-height: 32px;
    letter-spacing: 0px;
    color:var(--p-gray);
    appearance: none;
    background-image: url("./images/Triangle.png");
    background-repeat: no-repeat;
    background-position: right 10px center;
    margin-bottom:36px;


}


.map-icon{
    position:absolute;
    top: 48%;
    left: 68%;
}

.TextArea{
    height:18vh;
    appearance: none;
    overflow:hidden;
    margin-bottom: 20px;
    padding-bottom:70px;
}

.form button{
   margin-top: 3vh;
    margin-left: 15vw;
}

/* -----------------------from section Ended ------------------------------- */

.footer-Section{
    width:100%;
    height: 75vh;
    background-color: var(--brown-bg);
}

footer{
    width:80%;
    margin:0 auto;
}

.links{
    display:flex;
    padding-top:10vh;
    justify-content: space-between;
    gap:10px;
    width:100%;
    height:60vh;
    border-bottom:1px solid #F3D1BF;
}

.links ul li{
    list-style:none;
    margin-left:-3vw;
}

.Copyright{
    width:100%;
    display:flex;
    justify-content: space-between;
    padding-top:3vh;
}


